body {
    background: #0c0c0c;
}



.brand a {
    margin-left: 10%;
}

.headerMessage {
    text-align: center;
    color: white;
}

.card1 {
    margin-left: 35%;
    margin-top: 8%;
}

.card2 {
    margin-right: 40%;
    margin-top: 5%;
}